# Configurações do Banco Oracle
DB_HOST=dbdev.organizacao.com.br
DB_PORT=1521
DB_SERVICE=dbdev
DB_USERNAME=user
DB_PASSWORD=pass

# Configurações da API DropSigner
DROPSIGNER_API_KEY="Face Digital|913ece39e2658e4daea4631dbf5570d17bfb94932bebc1c691cd4e7b4eff35ba"
DROPSIGNER_BASE_URL=https://signer-lac.azurewebsites.net

# Configurações do Job
JOB_INTERVAL_MINUTES=2

# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações de Logging
LOG_LEVEL=info
# Níveis disponíveis: trace, debug, info, warn, error, fatal
# Para desenvolvimento: info
# Para produção: warn ou error 